.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.items{
    display: grid;
    grid-template-columns: 15% 15% 15%;
    position: relative;
    justify-content: space-between;
    right: 50%;
}

.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.store-products-button-view{
    cursor: pointer;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    background-color: #ECCC77FF;
}
.DsizeInput {
    width: 8rem;
}

.col-grd{
    display: grid;
    grid-template-columns: 5% 5%
}