/* Products */

.history{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.formStyle{
    box-sizing: border-box;
    color: #282c34;
}

.history li{
    flex:0 1 29rem;
    height: 25rem;
    border: 1px solid #ddd;
    padding: 1rem;

}

/* user */
.history_s{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.history-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-price div,
.history-price button,
.histName{
    text-align: center;
    flex: 1;
}

.user-price div{
    font-size: 2rem;
}

.button{
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
}

.button:hover{
    border: 0.1rem #808080 solid;
}

.button.primary{
    background-color: #ECCC77FF;
    margin-bottom: 5rem;
}

.control-buttons-history{
    display: grid;
    grid-template-columns: 4rem;
    position: relative;

}

.exit-button{
    cursor: pointer;
}