.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.items{
    display: grid;
    grid-template-columns: 15%;
    position: relative;
    justify-content: space-between;
    right: 50%;
}

.items-edit{

}

.modal-main {
    position:fixed;
    background: white;
    width: 75%;
    height: 65%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal-buttons{

    display: grid;
    grid-template-columns: 45% 45%;
    position: relative;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 40%;
    width: 20rem;
    height: 5rem;

}

.modal-buttons-props{
    cursor: pointer;
    background-color: #ECCC77FF;

}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.store-products-button-view{
    cursor: pointer;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    background-color: #ECCC77FF;
}

.store-products-button-view-edit{
    cursor: pointer;
}

.lines-props{
    margin-top: 5rem;
}

.input-props {
    width: 8rem;
    height: 3rem;
    margin-left: 6rem;
    margin-top: 2rem;
}

.col-grd{
    display: grid;
    grid-template-columns: 15% 7%
}

.col-grd-perm{
    display: grid;
    grid-template-columns: 15% 7%
}

.text-props{
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.center-text{
    margin-left: 45%
}

.rows-grid{
    display: grid;
    grid-template-columns: 20% 80%;


}

.check-line-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}