<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EnableLoggerWriteToFile" value="true" />
		<add key="RemoveAppointmentMessage" value="You're appointment has been removed." />
		<add key="OpenedStoreMessage" value="Congragulations! you openned new Store!" />
		<add key="PurchaseMessage" value="Congragulations! you purchased!" />
		<add key="BecomeManagerMessage" value="Congragulations! you became a manager!" />
		<add key="RequestDenyMessage" value="Your Bid suggestion has been denied." />
		<add key="RequestAcceptMessage" value="Your Bid suggestion has been accepted!" />
		<add key="RequestDenyMessage" value="Your Bid suggestion has been denied." />
		<add key="ConnectRealCommunication" value="false" />
	</appSettings>
</configuration>