<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EnableLoggerWriteToFile" value="true" />
		<add key="RegisteredMessage" value="Congragulations! you registered to the system!" />
		<add key="OpenedStoreMessage" value="Congragulations! you openned new Store!" />
		<add key="PurchaseMessage" value="Congragulations! you purchased!" />
		<add key="BecomeManagerMessage" value="Congragulations! you became a manager!" />
		<add key="ConnectRealCommunication" value="false" />
	</appSettings>
</configuration>