<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--Begin External Systems-->
		<add key="ExternalSystemsURL" value="https://cs-bgu-wsep.herokuapp.com/" />
		<add key="EnableRealExternalSystems" value="true" />
		<!--End External Systems-->

		<!--Begin Logger-->
		<add key="EnableLoggerWriteToFile" value="true" />
		<!--End Logger-->

		<!--Begin Communication-->
		<add key="ConnectRealCommunication" value="false" />
		<!--End Communication-->

		<!--Begin Publisher Messages-->
		<add key="RemoveAppointmentMessage" value="You're appointment has been removed." />
		<add key="OpenedStoreMessage" value="Congragulations! you openned new Store!" />
		<add key="PurchaseMessage" value="Congragulations! you purchased!" />
		<add key="BecomeManagerMessage" value="Congragulations! you became a manager!" />
		<add key="RequestDenyMessage" value="Your Bid suggestion has been denied." />
		<add key="RequestAcceptMessage" value="Your Bid suggestion has been accepted!" />
		<add key="RequestDenyMessage" value="Your Bid suggestion has been denied." />
		<!--End Publisher Messages-->

	</appSettings>
</configuration>