.center-block {
    width: 320px;
    height: 300px;
    border: 2px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.vertical-center-block {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
