html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body,
#root{
    height: 100vh;
    margin: 0;
}

body, input, select, button, textarea{
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-areas:
       "header"
       "search"
       "main"
       "footer";
    grid-template-rows: 5rem 6rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
    padding: 0.5rem;

}

.header-container{
    display: grid;
    grid-template-columns: 15% 30% 30% 15% 5% 5%;
}

.icons {

    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color: white;
    cursor: pointer;
}


a{
    text-decoration: none;

}

a:hover{
    color: orange;
}

header{
    grid-area: header;
    background-color: #204050;
    color: white;
    align-items: center;
}

.search-block {
    grid-area: search;
    display: flex;
    align-items: center;
    flex: 3 60;
    margin-left: 37rem;

}

.search-grid{
    grid-area: search;
    /*display: grid;*/
    grid-template-columns: 10% 10% 10% 10%;
    padding: 2rem;
    align-items: center;
}

header a{
    color:white;
    text-decoration: none;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: #204050;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
}

.main{
    flex: 3 60;
}

.sidebar{
    flex: 1 20rem
}

/* Products */

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.formStyle{
    box-sizing: border-box;
    color: #282c34;
}

.products li{
    flex:0 1 29rem;
    height: 25rem;
    border: 1px solid #ddd;
    padding: 1rem;

}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.store-product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.center-add-product {
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price div,
.product-price button,
.productName{
    text-align: center;
    flex: 1;
}

.product-price div{
    font-size: 2rem;
}

.button{
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
}

.button:hover{
    border: 0.1rem #808080 solid;
}

.button.primary{
    background-color: #ECCC77FF;
    margin-bottom: 5rem;
}

.control-buttons{
    display: grid;
    grid-template-columns: 4rem 4rem;
}

.exit-button{
    cursor: pointer;
}

/* Filter */

.filter{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div{
    flex: 1;
}

/* min max input */
.rangeinput {
    margin-left: 1.5rem;
}

.sizeInput {
    width: 4rem;
}






