
.store-products-main-conatiner{
    display: grid;
    grid-template-rows: 65% 10% 15%;
    grid-gap: 5%;
    display: flex;
    flex-direction: column;

}

.bottom-row{
    display: grid;
    grid-template-columns: 15%;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;

}

grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-products-button-view{
    cursor: pointer;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    background-color: #ECCC77FF;
}

.total{
    text-align: center;
}

.flex {

}