<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>

		<!--Begin External Systems-->
		<add key="ExternalSystemsURL" value="https://cs-bgu-wsep.herokuapp.com/" />
		<add key="EnableRealExternalSystems" value="true" />
		<add key="ExternalSystemsTimeout" value="3" />
		<!--End External Systems-->

		<!--Begin Logger-->
		<add key="EnableLoggerWriteToFile" value="true" />
		<add key="LoggerFilePath" value="LoggerMessages.txt" />
		<!--End Logger-->

		<!--Begin DB-->
		<add key="ConString" value ="Data Source=marketDBTests.db" />
		<add key="ConType" value = "SQLite" />
		<!--End DB-->

	</appSettings>


</configuration>