
/* TODO: ask gil */
/*.header-container{*/
/*    display: grid;*/
/*    grid-template-columns: 15% 75% 5% 5%;*/
/*}*/

.icons {

    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color: white;
    cursor: pointer;
}

/* Stores */
.stores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.formStyle{
    box-sizing: border-box;
    color: #282c34;
}

.stores li{
    flex:0 1 29rem;
    height: 20rem;
    width: 20rem;
    border: 1px solid #ddd;
    padding: 1rem;

}

.store{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.my-stores-create-store-top-block {
    padding: 1rem;
    margin: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.my-stores-no-stores-block {
    width: 60%;
    height: 25%;
    font-size: 6rem;
}

.my-stores-no-stores-participation-text-block {
    margin-bottom: 32px;
}

.my-stores-create-first-store-button {
    width: 100%;
    font-size: inherit;
}
