
.search-store-grid{

    display: grid;
    grid-template-rows: 10% 85%;
    gap: 10%
}

.search-store-element{
    place-self: center;
}

.stores-view-flex{
    display: flex;
    place-self: center;
    margin-top: 2%;
    flex: 3 60;
}