

.main-conatiner{
    display: grid;
    grid-template-rows: 10% 90%
}

.internal-conatiner.store-container {
    display: grid;
    grid-template-rows: 14.285% 14.285% 14.285% 14.285% 14.285% 14.285% 14.285%;
}

.store-container .button-view{
    cursor: pointer;
    font-size: 6rem;
    background-color: #ECCC77FF;
}