
.store-products-main-conatiner-staff{
    display: grid;
    grid-template-rows: 90% 10%;
    grid-gap: 50%;
    display: flex;
    flex-direction: column;
}

.bottom-row-staff{
    display: grid;
    grid-template-columns: 15% 15% 15%;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
}

.store-products-button-view{
    cursor: pointer;
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    background-color: #ECCC77FF;
}