

.main-conatiner{
    display: grid;
    grid-template-rows: 10% 90%
}

.internal-conatiner.store-container {
    display: grid;
    grid-template-rows: 16.666% 16.666% 16.666% 16.666% 16.666%;
}

.store-container .button-view{
    cursor: pointer;
    font-size: 6rem;
    background-color: #ECCC77FF;
}