.center-block {
    width: 600px;
    height: 300px;
    border: 2px solid gray;
    display: grid;
    margin: auto;
    position: relative;
}

.vertical-center-block {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
