.App {
  text-align: center;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.flex-center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-form {
  display: flex;
  flex-direction: column;
}

.gray-border {
  border: 2px solid gray;
  border-radius: 2px;
}

.form-padding {
  padding: 8px;
}

.form-title {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 16px;
  align-self: flex-start;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}
