.store-bids-grid{
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    gap: 2%;

}

.store-bids-grid-simple{
    display: grid;
    border: 1px solid #1482cb;
    width: auto;
    height: auto;
}

.store-bids-grid-button{
    display: grid;
    grid-template-areas:  "a a a a a a a a";
    justify-content: space-between;
    margin-bottom: 10rem;
    border: 1px solid #1482cb;
    width: auto;
    height:  15rem;
}


.simple-bids-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.simple-bids-li-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    outline: 1px solid #000;
}

.border-li{
    box-sizing: border-box;
    border: #1482cb;
}

.bidName{
    text-align: center;
    flex: 1;
}

.col-grd-perm-bids{
    display: grid;
    grid-template-columns: 5% 5%
}
