<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExternalSystemsURL" value="https://cs-bgu-wsep.herokuapp.com/"/>
    <add key="EnableExternalSystems" value="true"/>
    <add key="ExternalSystemsTimeout" value="4"/>
    <add key="ConnectionType" value="SQLServer"/>
    <add key="ConnectionString" value="Data Source=HP-MEHOME\\MARKETSERVER;Initial Catalog=MarketDB;Integrated Security=True;"/>
    
  </appSettings>
</configuration>