<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExternalSystemsURL" value=""/>
    <add key="EnableExternalSystems" value="false"/>
    <add key="ExternalSystemsTimeout" value="3"/>
    <add key="ConnectionType" value="SQLite"/>
    <add key="ConnectionString" value="Data Source=marketDBTests.db"/>

  </appSettings>
</configuration>